<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Toko
    body
        header
            nav
                ul
                    li
                        a(href="/") shop
                    li
                        a(href="/admin/tambah-produk") Tambahkan Produk